
.menuBox{
    position: fixed;
    background-color: var(--primColor);
    right: 0;
    z-index: 999;
    filter: drop-shadow(5px 5px 10px var(--darkColor));

    display: flex;
    flex-flow: column nowrap;
    align-items: end;
    
    top: 0;
    padding:0 1em;
    border-radius: 0 0 0 100%;
    min-width: 8%;
    min-height: 14%;
    color: var(--lightColor);
    transition: all 0.5s ease-in-out;

    .menu{
        display: none;
        width: 0;
        height: 0;
        list-style: none;
        text-align: end;
        font-size: 2.4em;
        .tab{
            margin: 0% 2%;
            .tabLink{
                position: relative;
                color: var(--lightColor);
                border-radius: 10px;
                
                font-size: 1.2em;
                transition: all 0.5s ease-in-out;
                margin: 0;
                
                width: 100%;
                &:hover{
                    transition: all 0.5s ease-in-out;
        
                    &::before{
                        width: 100%;
                    }
                    &::after{
                        width: 60%;
                    }
                }
                &::before{
                    content:attr(link-name);
                   
                    color: var(--secColor);
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 0;
                    overflow: hidden;
                    transition: all 0.5s ease-in-out;
                }
                &::after{
                    position: absolute;
                    content:"";
                    background-color: var(--secColor);
                    width: 0;
                    height: 5px;
                    bottom: -5px;
                    right:0;
                    border-radius: 10px;
                    transition: all 0.5s ease-in-out;
                }
            }
        }
    }
    .burgerIcon{
        color: var(--lightColor);
        min-width: 6em;
        background-color: transparent;
      
        top: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        right: 1em;
        .burgerLine{
            transition: transform 0.5s ease-in-out;

            display: block;
            content: " ";
            margin: 0.6em 0;
            border-radius: 20px;
            height: 0.7em;
            width: 90%;
            background-color: var(--secColor);
        }
    }
    &.open{
        transition: all 0.5s ease-in-out;
        min-height: 45%;
        min-width: 20%;
        .menu{
            display: block;
            width: 100%;
            height: 100%;
        }
       
        .burgerLine:nth-child(1){

            transform: translate(0,30px) rotate(45deg);
            
        }
        .burgerLine:nth-child(2){
            width: 0;
            display:none;
           
            
        }
        .burgerLine:nth-child(3){

            transform:translate(0px,0px) rotate(-40deg) ;
            
        }
  
    }
}

/*
.menuBox{
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    display: flex;
    color:var(--lightColor);
    margin: 0% auto;
    width: 100%;
    padding: 20px;

}
.logoName{
    text-decoration: none;
    color:var(--primColor)
}
.menu{
    list-style: none;
    display: flex;
    flex-basis: 30%;
    flex-grow: 60%;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row nowrap;
    font-size: 1.2em;
}

.tab{
    margin: 0% 2%;
    .tabLink{
        position: relative;
        color: var(--darkColor);
        border-radius: 10px;
        
        font-size: 1.2em;
        transition: all 0.5s ease-in-out;
        margin: 0;
        
        width: 100%;
        &:hover{
            transition: all 0.5s ease-in-out;

            &::before{
                width: 100%;
            }
            &::after{
                width: 50%;
            }
        }
        &::before{
            content:attr(link-name);
           
            color: var(--primColorHover);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 0;
            overflow: hidden;
            transition: all 0.5s ease-in-out;
        }
        &::after{
            position: absolute;
            content:"";
            background-color: var(--primColor);
            width: 0;
            height: 5px;
            bottom: -5px;
            left: 0;
            border-radius: 10px;
            transition: all 0.5s ease-in-out;
        }
    }
}
*/





/*Ligne en dessous du texte*/


