
.menuBox{
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    display: flex;
    color:var(--lightColor);
    margin: 0% auto;
    width: 100%;
    padding: 20px;

}
.logoName{
    text-decoration: none;
    color:var(--primColor)
}
.menu{
    list-style: none;
    display: flex;
    flex-basis: 30%;
    flex-grow: 60%;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row nowrap;
    font-size: 1.2em;
}

.tab{
    margin: 0% 2%;
    .tabLink{
        position: relative;
        color: var(--darkColor);
        border-radius: 10px;
        
        font-size: 1.2em;
        transition: all 0.5s ease-in-out;
        margin: 0;
        
        width: 100%;
        &:hover{
            transition: all 0.5s ease-in-out;

            &::before{
                width: 100%;
            }
            &::after{
                width: 50%;
            }
        }
        &::before{
            content:attr(link-name);
           
            color: var(--primColorHover);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 0;
            overflow: hidden;
            transition: all 0.5s ease-in-out;
        }
        &::after{
            position: absolute;
            content:"";
            background-color: var(--primColor);
            width: 0;
            height: 5px;
            bottom: -5px;
            left: 0;
            border-radius: 10px;
            transition: all 0.5s ease-in-out;
        }
    }
}






/*Ligne en dessous du texte*/


