
.realizationNav {
  h1{
    font-size: 2.3em;
    text-align: center;
    color: var(--light-color);
  }
  background-color: var(--primColor);
  display: flex;
  text-transform: capitalize;
  flex-flow: row wrap;

  justify-content: space-between;
  padding: 0;
  margin: 0;
 
}

.specialityBox{
  display: flex;
  flex-flow: column nowrap;
  font-size: 2em;
  .specialityChoice {
    border-bottom: 5px solid var(--secColor);
  
    display: flex;
    align-items: center;
    flex-basis: 45%;

    color: var(--lightColor);
    transition: all 0.5s ease-in-out;
    &:hover {
      transform: scaleX(1.05) translateX(-50px);
      transition: all 0.5s ease-in-out;
      text-shadow: 1px 4px 1px var(--secColorHover);
      cursor: grab;
    }
    a {
      min-width: 100%;
      height: 100%;
   
      display: flex;
      align-items: center;
    }
  }
  
}

.realizationSection {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  gap:0 1.5em;
  
  .realization {
    height: 100%;
    border-radius: 0 0 25px 25px;
    .realizationTab {
      background-color: var(--secColor);
      width: 100%;
      min-height: 20px;
      display: flex;
      justify-content: space-between;
      border-radius: 25px 25px 0 0;
      padding: 0.3em 1em;
    
      h3 {
        color: var(--primColor);
        font-size: 1.5em;
        padding: 0;
      }
    }
  
    .imgBox {
      position: relative;
      border-radius: inherit;
      img {
        border-radius: inherit;
      }
      .resumeRealization {
        position: absolute;
        top: 0;
       align-items: center;
       text-align: center;
        border-radius: inherit;
        display: flex;
        flex-flow: column nowrap;
        z-index: 1;
        width: 100%;
        opacity: 0;
        background-color: var(--primOpacity);
        color: var(--lightColor);
        height: 0;
        transition: opacity 0.5s ease-in-out;
        p {
          margin: 1em;
        }
        button{
          margin: 1em;
          border-bottom: 0.3em solid var(--secColorHover);

          min-width:40%;
          background-color: var(--secColor);

          color: var(--darkColor);
          font-size: 1em;
          &:hover{
            background-color: var(--secColorHover);
          }
        }
      }
      &:hover {
        .resumeRealization {
          height: 100%;
  
          opacity: 100%;
        }
        img {
          filter: blur(10px);
        }
      }
    }
  }
}


.realizationModal {
  position: absolute;
  display: none;
  font-size: 1.1em;
  height: 50vh;
  padding: 0.5em;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  border-radius: 25px;
  transform: translate(-50%, -50vh);
  filter: drop-shadow(2px 2px 5px var(--primOpacity));
  background-color: #fff;
  &.open {
    display: flex;
    flex-flow: row nowrap;
    opacity: 100%;
    transition: opacity 0.5s ease-in-out;
  }

  .imgBox {
    flex-basis: 45%;
  }
  .realizationInfo {

    display: flex;
    min-height: 100%;
    flex-basis: 50%;
    flex-flow: column nowrap;
   
  }
 
}


.moreBtn{
    border: none;
    max-width: 2.5em;
    min-height: 2.5em;
    background-color: var(--primColor);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    color: var(--lightColor);
    padding: 0.2em 0.2em;
    .moreIcon{
      max-width: 85%;
      transform: rotate(0deg);

  }

  &.open:active,&:hover{
    .moreIcon{
        transform: rotateZ(45deg);
    }
  }
  &.close{
    transform: rotateZ(45deg);
    align-self: flex-end;
    &:active,&:hover{
        .moreIcon{
            transform: rotateZ(-45deg);
        }
       

    }
  }
}
.skillFilter{
 
  .skill{
    font-size: 1em;
  }
  
}
.skillFilter,.skillList{
  display: flex;
  flex-flow: row wrap;
 
  padding: 0.5em 0;
  h3,p{
    flex-basis: 100%;
    color: var(--primColor);
  }
  .skill{
    margin:0.4em 0.5em;
    padding: 0.4em 0.8em;
    color: inherit;

  }
}
.skillList{
  justify-self: end;
  .skill{
    min-width: 5em;
    font-size: 0.9em;
  } 
 
}
//Skill Style
.figma{
  border-color: var(--primColor);
  background-color: var(--primOpacity);
}
.illustrator{
  border-color: var(--secColor);
  background-color: var(--secOpacity);
}
.photoshop{
  border-color: #FB8F67;
  background-color: rgba(#FB8F67,0.4);
}