@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=SUSE:wght@100..800&display=swap');

$primColor:#6B2D5C;
$lightColor: #F5DDDD;
$darkColor:#1D0C19;
$secColor:#7FD1B9;
$titleFont: 'SUSE';
$textFont:'Open Sans','Arial','Helvetica',sans-serif;
