
.menuBox{
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    display: flex;
    color:var(--dark-color);
    margin: 1% auto;
    max-width: 90%;
    font-size: 1.4em;
}
.logoName{
    text-decoration: none;
    color:var(--prim-color)
}
.menu{
    list-style: none;
    display: flex;
    flex-basis: 30%;
    flex-grow: 60%;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row nowrap;
}

.tab{
    margin: 0% 2%;
    font-size: 1.1em;
}

.tabLink{

    position: relative;
    color: inherit;
    border-radius: 10px;
    

    transition: all 0.5s ease-in-out;
    margin: 0;
     
    width: 100%;
}
.tabLink:hover{
    font-weight: bolder;
}

.tabLink::before{
    content:attr(link-name);
    transition: all 0.5 ease-in-out ;
    color: var(--prim-color);
    position: absolute;
    font-weight: bold;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
}
.tabLink:hover::before{
    width: 100%;
    transition: all 0.5s ease-in-out;
}

/*Ligne en dessous du texte*/
.tabLink::after{
    position: absolute;
    content:"";
    background-color: var(--prim-color);
    width: 0;
    height: 5px;
    bottom: -5px;
    left: 0;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;

}
.tabLink:hover::after{
    width: 20%;
    transition: all 0.5s ease-in-out;
}


