html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}
button{
    cursor: grab;
}
.imgBox{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
 }
 .imgBox>img{
     max-width: 100%;
     height: auto;
 }