@import "./grille.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=SUSE:wght@100..800&display=swap");
.App {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: var(--text-font);
  background-color: var(--light-color);
  width: 100%;
  min-height: 100vh;
  color: var(--dark-color);
}

main {
  margin: 5% auto;
}

.realisationNav > h1 {
  font-size: 2.3em;
  text-align: center;
  color: var(--light-color);
}

.specialityChoice {
  border-bottom: 3px solid var(--sec-color);
  height: 45%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  padding: 20px;
  font-size: 2em;
  color: var(--sec-color);
  transition: all 0.5s ease-in-out;
}

.specialityChoice:hover {
  transform: scale(1.1) translateX(-50px);
  transition: all 0.5s ease-in-out;
  text-shadow: 3px 1px 0px var(--light-color), 5px 5px 5px var(--dark-color);
  cursor: grab;
}

.specialityChoice > a {
  color: inherit;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.realisationNav {
  background-color: var(--prim-color);
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
  position: relative;
  padding: 0;
  margin: 0;
}

.menuBox {
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
  display: flex;
  color: var(--dark-color);
  margin: 1% auto;
  max-width: 90%;
}

.logoName {
  text-decoration: none;
  color: var(--prim-color);
}

.menu {
  list-style: none;
  display: flex;
  flex-basis: 30%;
  flex-grow: 60%;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row nowrap;
  font-size: 1.2em;
}

.tab {
  margin: 0% 2%;
  font-size: 1.1em;
}

.tabLink {
  position: relative;
  color: inherit;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  margin: 0;
  width: 100%;
}

.tabLink:hover {
  font-weight: bolder;
}

.tabLink::before {
  content: attr(link-name);
  transition: all 0.5 ease-in-out;
  color: var(--prim-color);
  position: absolute;
  font-weight: bold;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  overflow: hidden;
}

.tabLink:hover::before {
  width: 100%;
  transition: all 0.5s ease-in-out;
}

/*Ligne en dessous du texte*/
.tabLink::after {
  position: absolute;
  content: "";
  background-color: var(--prim-color);
  width: 0;
  height: 5px;
  bottom: -5px;
  left: 0;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.tabLink:hover::after {
  width: 50%;
  transition: all 0.5s ease-in-out;
}